/* .hidden-options{
  display: none;
}  */

/* .hide-button{
  display: none;
}   */

 /* form{
  display: none;
}    */


ul{
  list-style-type: none;
} 

/* .bookmark-item-not-condensed{
  display: none !important
} */

.hide-more-info{
  display: none;
}

/*modal to display over the screen*/